# ---------------------------------------------------------------------------
# Run a script (using a systemd-service) after plugin of an usb-stick.
#
# Running the script directly fails, since udev only allows short-running scripts.
#
# Author: Bernhard Bablok
# License: GPL3
#
# Website: https://github.com/bablokb/pi-imgtank
#
# ---------------------------------------------------------------------------

KERNEL=="sd?", SUBSYSTEMS=="usb", ACTION=="add", RUN+="/bin/systemctl --no-block start copy_img2@$kernel.service"
